<h1>List all tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <input type="checkbox" <%= task.completed ? 'checked' : '' %>>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "delete", task_delete_path(task), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>