<h1>List all tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <input type="checkbox" <%= task.completed ? 'checked' : '' %>>
    <%= link_to task.title, task_path(task) %>
    <%= link_to task_delete_path(task), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Add task", tasks_new_path, { class: 'btn btn-outline-primary' } %></p>